$white: #f6f6f6;
$white50: #f6f6f650;
$skyBlue: #8abac9;
$darkSkyBlue: #6999a8;
$lightBeige: #c99e8a;
$mediumBeige: #a87d69;
$black: #030303;
$lightCoffee: #a0785a;
$brick: brown;
$green: #00dd05;
$lightGray: #ddd;
