@use 'colorDefs';
@use 'divSpecs';


.aboutDiv {
  @include divSpecs.divSpecs;

  flex-direction: column;
  background-color: colorDefs.$white;
  justify-content: space-around;
  position: relative;
  color: colorDefs.$black;

  h2 {
    position: absolute;
    top: 13%;
    font-size: 1.9rem;
  }

  p {
    max-width: 38ch;
  }
}

.detailsDiv {
  display: grid;
  grid-template:
    'professionalInterests ... nonProfessionalInterests' 1fr
    '. profilePic profilePic profilePic .' 1fr
    '. profilePic profilePic profilePic .' 1fr
    '. profilePic profilePic profilePic .' 1fr
    'programmingLanguages . funFacts . personalInfo' 1fr
    / repeat(5, 1fr);

  .imageDiv {
    width: 1008px * 0.1;
    height: 1344px -0.1;

    &[id=croppedProfile] {
      grid-area: profilePic;
      width: 1008px * 0.225;
      height: 1344px * 0.225;
    }

    &[id=professionalInterests] {
      grid-area: professionalInterests;
    }

    &[id=nonProfessionalInterests] {
      grid-area: nonProfessionalInterests;
    }

    &[id=programmingLanguages] {
      grid-area: programmingLanguages;
    }

    &[id=funFacts] {
      grid-area: funFacts;
    }

    &[id=personalInfo] {
      grid-area: personalInfo;
    }
  }
}

.headingSpanGreen {
  color: colorDefs.$iconGreen;
}

.headingSpanMauve {
  color: colorDefs.$mauve;
}
