@use 'colorDefs';
@use 'divSpecs';


.aboutDiv {
  @include divSpecs.divSpecs;

  padding-top: 11vh;
  flex-direction: column;
  background-color: colorDefs.$white;
  justify-content: flex-start;
  position: relative;
  color: colorDefs.$black;
}

.menuDiv {
  @include divSpecs.divSpecs;

  flex-direction: row;
  justify-content: space-around;
}

.menu {
  @include divSpecs.divSpecs;

  width: auto;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 1rex;
}

.menuOption {
  cursor: pointer;
  border: solid;
  border-radius: 10px;
  padding: 0.6rem 2rex;
  height: 2.5rlh;

  & h3 {
    margin: 0;
  }
}

.selectionDisplay {
  width: auto;
}

.headingSpanSkyBlue {
  color: colorDefs.$skyBlue;
}

.headingSpanBeige {
  color: colorDefs.$lightBeige;
}

.techLink {
  text-decoration: underline;
  color: colorDefs.$darkSkyBlue;

  &:hover, &:visited {
    color: colorDefs.$mediumBeige;
  }
}

@media (max-width: 450px) {
  .aboutDiv {
    padding-top: 15vh;
  }
}
