@use 'divSpecs';
@use 'colorDefs';


.blogDiv {
  @include divSpecs.divSpecs;

  flex-direction: column;
  padding-top: 4vh;
  background-color: colorDefs.$white;
}

.blogGrid {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 5%;
}

.blogItem {
  width: 15vw;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    padding-bottom: 100%;
  }

  h4 {
    color: colorDefs.$black;
  }
}
