.showPageList {
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-align: center;

    li ul li:first-child {
      font-weight: bolder;
    }
  }
}
