@use 'colorDefs';


@mixin highlightLink {
  background-color: colorDefs.$lightBeige;
  color: colorDefs.$black;
}


.navbar {
  color: colorDefs.$white;
  font-weight: 700;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    li {
      padding: 0.8em;

      &:hover {
        @include highlightLink;
      }
    }
  }
}

.activeLink {
  @include highlightLink;
}

.navlink {
  color: inherit;
}
