@use 'colorDefs';
@use 'divSpecs';


.portfolioDiv {
  @include divSpecs.divSpecs;

  flex-direction: column;
  color: colorDefs.$white;

  a {
    color: colorDefs.$lightBeige;
    text-decoration-line: underline;
  }
}

.portfolioGrid {
  display: none;
  * {
    display: none;
  }

  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  row-gap: 3%;
}

.portfolioItem {
  width: 15vw;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    padding-bottom: 100%;
  }
}

.projectConnections {
  width: 100%;
  display: flex;
  justify-content: space-around;

  & * {
    background-color: colorDefs.$white50;
  }
}

.faIcon {
  width: 20%;

  &::after {
    content: '';
    display: block;
    position: absolute;
    padding-bottom: 100%;
  }
}

.gitHubMark {
  width: 20%;

  &::after {
    content: '';
    display: block;
    position: absolute;
    padding-bottom: 100%;
  }
}

.youTubeIcon {
  width: 20%;

  &::after {
    content: '';
    display: block;
    position: absolute;
    padding-bottom: 100%;
  }
}
