@use 'colorDefs';
@use 'divSpecs';


.flexContainer {
  @include divSpecs.divSpecs;

  flex-direction: column;
  gap: 0;
  min-height: 10rem;
  height: 99vh;
}

.imageDiv {
  width: 24rem;
}

.welcomeDiv {
  @include divSpecs.divSpecs;

  min-height: 10rem;
  text-align: center;
  flex-direction: column;
  color: colorDefs.$white;
  font-size: 1.5rem;
  cursor: default;

  h1 {
    span {
      color: colorDefs.$skyBlue;
    }
  }

  p {
    max-width: 20ch;
    line-height: 1.8;
    font-size: 0.8em;

    a {
      color: colorDefs.$lightBeige;
      cursor: help;

      &[class=hiddenLink] {
        color: colorDefs.$white;
        cursor: default;
      }
    }
  }
}

.popupDef {
  max-width: 25ch;
  position: absolute;
  bottom: 25%;
  right: 30%;
  z-index: 2;
  background-color: colorDefs.$white;
  padding: 0.5em;;
}
