@use 'colorDefs';
@use 'divSpecs';


.welcomeDiv {
  @include divSpecs.divSpecs;

  text-align: center;
  flex-direction: column;
  color: colorDefs.$white;
  font-size: 1.6rem;
  cursor: default;

  h1 {
    span {
      color: colorDefs.$iconGreen;
    }
  }

  p {
    max-width: 20ch;
    line-height: 1.8;
    font-size: 0.8em;

    a {
      color: colorDefs.$mauve;
      cursor: help;
    }
  }
}

.imageDiv {
  width: 1008px * 0.2;
  height: 1344px * 0.2;
  position: absolute;
  top: 10%;
  right: 15%;
  z-index: 1;
}

.popupDef {
  max-width: 25ch;
  position: absolute;
  bottom: 25%;
  right: 10%;
  z-index: 2;
  background-color: colorDefs.$white;
  padding: 0.5em;;
}
